/** Thin */
* {
    font-family: serif; 
}

*::-webkit-scrollbar { 
  display: none;
}

html, body{
	margin: 0 auto;
	height: 100%;
	/*background: url(../assets/bg.svg);*/
	/*background-image: radial-gradient(0% 65%, #00F2FE 0%, #4FACFE 70%);*/
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

@keyframes example {
  0% {display:none ; opacity: 0;}
  1% {display: block ; opacity: 0;}
  100% {display: block ; opacity: 1;}
}

#text{
	display: block;
	/*width:30px;*/
	/*height: 100%;*/
	text-align: center;
	top:25%;
	margin:auto;
	font-size: 24px;
	vertical-align: middle;
	padding: 18% 0 0 0;
	color: white;
	opacity: 1;
	animation: example;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}






@media screen and (max-width: 769px) {
#text{  
  padding: 30% 0 0 0;
}

/*@media screen and (max-width: 376px) {
#text{  
  padding: 50% 0 0 0;
}*/

