* {
    font-family: 'San Francisco', sans-serif;  
}

#navbackground{
  position: fixed;
  top:0;
  z-index: +1;
  width: 100%;
  height: 62px;
  background: white;
  -webkit-transition: all .5s cubic-bezier(.25,.46,.45,.94);
    transition: all .5s cubic-bezier(.25,.46,.45,.94);

  
}

#navbackground2{  
  display: none;
position: fixed;
  z-index: +1;
  width: 100%;
  background: white;
  -webkit-transition: all .5s cubic-bezier(.25,.46,.45,.94);
    transition: all .5s cubic-bezier(.25,.46,.45,.94);}


#nav{
	position: fixed;
	top:10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
/*  background:yellow;*/
  height: 43px;
  z-index: +2;
}

@keyframes accessin {
    from {transform: scale(1.5,1.5);opacity: 0;}
    to {transform: scale(1,1);opacity: 1;}
}

@keyframes accessin2 {
    0%{left: 65px;opacity: 0;}
    20%{left: 65px;opacity: 0;}
    100% {left:10px;opacity: 1;}
}

@keyframes accessin3 {
    0%{right: 65px;opacity: 0;}
    20%{right: 65px;opacity: 0;}
    100% {right:10px;opacity: 1;}
}

.title{
	/*animation: accessin 1.5s ease-in-out;*/
	font-size: 26pt;
	font-weight: 700;
	text-align: center;
	letter-spacing: 6px;
	margin: 0 auto;
	max-width: 240px;
	cursor: pointer;
   text-indent: 10px;
}

a{
  text-decoration: none;
  color:#333333;
}

.menu{
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 12pt;
    font-weight: 500;
    margin: 0 auto;
    letter-spacing: 0.6px;
}

.underline{
position: relative;
display: inline-block;
width: 20px;
bottom: 10px;
height: 2px;
/*background: #f1f1f1;*/
-webkit-transition: all .35s cubic-bezier(.25,.46,.45,.94);
    transition: all .35s cubic-bezier(.25,.46,.45,.94);
}


.menu.about{
  position: absolute;
  top:11px;
  left: 10px;
  height: 21px;
 /* animation: accessin2 2s;*/
  cursor: pointer;
  text-align: right;
  color: #999999;
  text-align: center;
  width: 50px;
  -webkit-transition: all .35s cubic-bezier(.25,.46,.45,.94);
    transition: all .35s cubic-bezier(.25,.46,.45,.94);
}

.menu.about:hover .underline{
  background: #999999;
  width: 100%;
  
}

.menu.about:hover{
  color: #333333;

}

/*.menu.about:active{
  top:8px;
}*/

.menu.work:hover .underline{
  background: #999999;
  width: 100%;
}

.menu.work:hover{
  color: #333333;
}

/*.menu.work:active{
  top:8px;
}*/


.menu.work{
  position: absolute;
  top:11px;
  right: 10px;
  height: 21px;
  width: 45px;
/*  animation: accessin3 2s;*/
  cursor: pointer;
  color: #999999;
  text-align: center;
  -webkit-transition: all .35s cubic-bezier(.25,.46,.45,.94);
    transition: all .35s cubic-bezier(.25,.46,.45,.94);
}


@media screen and (max-width: 520px) {
#nav{  
  top: auto;
  bottom: 0;
  width: 300px;
  height: 65px;
}

#navbackground{display: none;}

#navbackground2{
  display: block;
  top: auto;
  bottom: 0;
  height: 65px;
  box-shadow: rgba(0,0,0,0.16) 0 -2px 3px;
  /*-ms-transform: rotate(180deg); /* IE 9 */
    /*-webkit-transform: rotate(180deg); *//* Chrome, Safari, Opera */
    /*transform: rotate(180deg);*/
     -webkit-transition: all .5s cubic-bezier(.25,.46,.45,.94) .1s;
    transition: all .5s cubic-bezier(.25,.46,.45,.94) .1s;
    /*animation: accessin4 3s ease-in-out;*/
}

.title{
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;

}

.title span{
  display: none;
}

@keyframes accessin2 {
    0%{left: 65px;opacity: 0;}
    20%{left: 65px;opacity: 0;}
    100% {left:0px;opacity: 1;}
}

@keyframes accessin3 {
    0%{right: 65px;opacity: 0;}
    20%{right: 65px;opacity: 0;}
    100% {right:0px;opacity: 1;}
}

@keyframes accessin4 {
    0%{opacity: 0;}
    100% {opacity: 1;}
}

.menu.about{
  position: absolute;
  top:23px;
  left: 0;

}

.menu.work{
  position: absolute;
  top:23px;
  right: 0;

}

.item{
  margin: 0 auto 0 auto;
}


}